
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<h1 class="text-center">Emisoras</h1>

<div class="my-3">
    <a href="#" class="btn btn-success" onclick="Form()">Agregar Emisora</a>
</div>

<div class="border border-2">
    <table id="tblEmisoras" class="table table-dark table-bordered table-hover">
        <thead>
            <tr class="text-center">
                <th>Id Emisora</th>
                <th>RFC</th>
                <th>Fecha Inicio</th>
                <th>Capital</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>

        </thead>
        <tbody class="table-light"></tbody>

    </table>

</div>

<div class="modal fade" id="formulario">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
            <h4 class="text-center">Formulario</h4>
            <button type="button" id="close" class="btn btn-danger" onclick="toggleModal()">x</button>
            </div>

            <div class="modal-body">
                <form>
                    <label for="lblIdEmisor">Id Emisor:</label>
                    <input type="text" class="form-control" id="txtIdEmisor" placeholder="IdEmisor"/>
                    <label for="lblRfc">RFC</label>
                    <input type="text" class="form-control" id="txtRfc" placeholder="RFC"/>
                    <label for="lblFechaInicioOperacion">Fecha Inicio</label>
                    <input type="datetime" class="form-control" id="txtFechaInicioOperacion" placeholder="Fecha"/>
                    <label for="lblCapital">Capital</label>
                    <input type="text" class="form-control" id="txtCapital" placeholder="Capital $"/>

                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btnGuardar" onclick="Guardar()"></button>
                <button type="button" class="btn btn-danger" id="btnCancelar" onclick="toggleModal()">Cancelar</button>
            </div>

        </div>

    </div>
</div>

@section Scripts{

    <script type="text/javascript">

    $(document).ready(function () {
        GetAll();
    });

    function GetAll(){
        $.ajax({
            type: 'GET',
            url: 'https://localhost:7098/api/emisor/GetAll',
            dataType: 'json',
            success: function(result){
                $.each(result.objects, function(i, emisor){
                    var filas = 
                    "<tr>"
                    + "<td>" + emisor.idEmisor + "</td>"
                    + "<td>" + emisor.rfc + "</td>"
                    + "<td>" + emisor.fechaInicioOperacion + "</td>"
                    + "<td>" + emisor.capital + "</td>"
                    + "<td>"
                    + "<button class='btn btn-warning' onclick='Form(" + emisor.idEmisor + ")'>Editar</button>"
                    +"</td>"
                    +"<td>"
                    + "<button class='btn btn-danger' onclick='Delete(" + emisor.idEmisor + ")'>Eliminar</button>"
                    + "</td>"
                    + "</tr>"
                    $("#tblEmisoras tbody").append(filas);
                    
                });

            },
            error: function(result){
                alert("Error");
            }


        });
    };

    
    function toggleModal(){
        $("#formulario").modal('toggle');
    }



    function Form(IdEmisora) {
       if (IdEmisora == undefined) {
            clearTxt();
            $("#btnGuardar").text("Guardar")
       }
       else 
       {
         GetById(IdEmisora);
         $("#btnGuardar").text("Actualizar")
       }
            toggleModal();
       }

    function clearTxt(){
        $("#txtIdEmisor").val(""),
        $("#txtRfc").val(""),
        $("#txtFechaInicioOperacion").val(""),
        $("#txtCapital").val("")
    } 

    function Guardar(){
        var emisor = {
            idEmisor: $("#txtIdEmisor").val()
        }
            if (emisor.idEmisor != undefined) {
                Add(); 
                { 
                    alert("Agregado"); 
                }
            }
            else
            {
             alert("Error");
            }

            toggleModal();   
    }

    function Add(){
        var emisor = {
            IdEmisor: $("#txtIdEmisor").val(),
            Rfc: $("#txtRfc").val(),
            FechaInicioOperacion: $("#txtFechaInicioOperacion").val(),
            Capital: $("txtCapital").val()
        }
    
    $.ajax({
        type:'POST',
        url: 'https://localhost:7098/api/emisor/Add',
        dataType: 'json',
        data: emisor,
        success: function (result){
            $('#formulario').modal('show');
            alert("Exito")
            GetAll();
        },
        error: function(result){
            alert: ("Ocurrio un error")
        }


       });

    };


    function GetById(IdEmisor){
        $.ajax({
            type: 'GET',
            dataType: 'json',
                url: 'https://localhost:7098/api/emisor/GetById/' + IdEmisor,
            success: function (result){
                $('#txtIdEmisor').val(result.object.idEmisor),
                $('#txtRfc').val(result.object.rfc),
                $('#txtFechaInicioOperacion').val(result.object.fechaInicioOperacion),
                $('#txtCapital').val(result.object.capital)
            },
            error: function(result){
                alert: ("Ocurrio un error")
            },
        });
    };

    </script>

}
